<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@Loc["MainLayout_Title"]</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>        
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Loc["NavMenu_Current problems"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Add">
                <span class="oi oi-plus" aria-hidden="true"></span>  @Loc["NavMenu_Add a problem"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RecurrentView">
                <span class="oi oi-infinity" aria-hidden="true"></span>@Loc["NavMenu_View recurrent tasks"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RecurrentAdd">
                <span class="oi oi-plus" aria-hidden="true"></span>@Loc["NavMenu_Add recurrent tasks"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doneproblems">
                <span class="oi oi-check" aria-hidden="true"></span>  @Loc["NavMenu_Done problems"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Archive">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  @Loc["NavMenu_Archive"]
            </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Settings">
                <span class="oi oi-cog" aria-hidden="true"></span> @Loc["NavMenu_Settings"]
                </NavLink>
            </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
