@using ProblemGenerator.Controllers;
@using ProblemGenerator.Data;
@inject ProblemContext problemContext 
@inject ProblemServices service
@inject NavigationManager NavigationManager
@inject IConfiguration config
@page "/Add"



<PageTitle>Add a problem</PageTitle>

<h1>Add a problem</h1>



<div class="col-5 bg-light m-2 justify-content-start">

    

    <EditForm Model="@NewProblem">
        <div class="form-group">
            <label for="name">What</label>
            <input type="text" id="what" class="form-control" @bind-value="@NewProblem.What" />
        </div>

        <div class="form-group">
            <label for="name">Where</label>
            <input type="text" id="where" class="form-control" @bind-value="@NewProblem.Where" />
        </div>

        <div class="form-group">
            <label for="name">Priority - 0 - least important</label>
            @* <input type="number" min="0" max="5" id="where" class="form-control" @bind-value="@NewProblem.problemPriority" />*@
            <InputNumber class="form-control" min="0" max="5" @bind-Value="@NewProblem.problemPriority" />
        </div>

     
         <div class="form-group">
            <label for="name">Detailed description</label>
            <InputTextArea class="form-control" @bind-Value="@NewProblem.DetailedDescription"/>

        </div>

        @*
        <div class="form-group">
            <label for="name">Photo</label>
            <InputFile class="form-control" @bind-Value="@NewProblem.DetailedDescription"/>

        </div>
        
        *@
        <div>
            <label for="profilePicture">Profile Picture:</label>
            <InputFile OnChange="@LoadFiles" class="form-control" multiple accept=".png,.jpg,.jpeg" />
        </div>
        

        <div class="text-center p-3 mb-3">
            <button class="btn btn-info" @onclick="AddNewProblem"> Add Problem</button>
        </div>
    </EditForm>
    
</div>




@code {
    private long maxFileSize = 1024 * 1024 * 3; //3 MB
    private IBrowserFile? file;
    private List<string> errors = new();

    List<Problem> Problems = new List<Problem>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshProblems();
    }

    private async Task RefreshProblems()
    {
        Problems = await service.GetProblemsAsync();
    }

    public Problem NewProblem { get; set; } = new Problem();



    private async Task AddNewProblem()
    {
        NewProblem.DateCreated = DateTime.Now;
        string relativePath = await CaptureFile();
        //NewProblem.ImgPath = relativePath;
        //string path = await CaptureFile();
        //NewProblem.ImgPath = path;
        NewProblem.ImgPath = Path.Combine(config.GetValue<string>("WebStorageRoot")!, relativePath);

        await service.AddNewProblem(NewProblem);
        NewProblem = new Problem();

        await RefreshProblems();
        NavigationManager.NavigateTo("/", true);
    }

    Problem UpdateProblem = new Problem();
    private void SetProblemForUpdate(Problem problem)
    {
        UpdateProblem = problem;
    }

    private async Task UpdateProblemData()
    {
        await service.UpdateProblemAsync(UpdateProblem);
        await RefreshProblems();
    }

    private async Task DeleteProblem(Problem problem)
    {
        await service.DeleteProblemAsync(problem);
        await RefreshProblems();
    }


    private void LoadFiles(InputFileChangeEventArgs e)
    {
        file = e.File;
    }

    private async Task<string> CaptureFile()
    {
        if (file is null)
        {
            return "";
        }



        try
        {
            string newFileName = Path.ChangeExtension(Path.GetRandomFileName(), Path.GetExtension(file.Name));
            string path = Path.Combine(config.GetValue<string>("FileStorage")!, $"{DateTime.Today.ToString("d")}", newFileName);
            string relativePath = Path.Combine($"{DateTime.Today.ToString("d")}", newFileName);
            Directory.CreateDirectory(Path.Combine(config.GetValue<string>("FileStorage")!, $"{DateTime.Today.ToString("d")}"));

                        await using FileStream fs = new(path, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

            return relativePath;
            
        }
        catch (Exception ex)
        {

            errors.Add($"File: {file.Name} Error: {ex.Message}");
            throw;
        }

    }
    

}
